<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar Vendedor</h1>
    <div>
        <form action="<%= action %>" method="post">
            <span><input type="text" name="nome" placeholder="Nome Completo" class="inptText"></span>
            <span><input type="password" name="senha" placeholder="Senha" class="inptText"></span>
            <span><input type="password" name="senhaAdm" placeholder="Senha ADM" class="inptText"></span>
            <span><input type="submit" value="Cadastrar" class="btn"></span>
            <span><a href="/">Cancelar</a></span>
        </form>
    </div>
    <script>if(location.href.indexOf('fail') != -1){
        alert('Você não tem permissão!');
    }
    </script>

</body>
</html>