<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar Vendedor</h1>
    <div>
        <form action="<%= action %>" method="post">
            <span><input type="text" name="nome" placeholder="Nome Completo"></span>
            <span><input type="password" name="senha" placeholder="Senha"></span>
            <span><input type="password" name="senhaAdm" placeholder="Senha ADM"></span>
            <span><input type="submit" value="Cadastrar"></span>
            <span><a href="/">Cancelar</a></span>
        </form>
    </div>
    <script>if(location.href.indexOf('fail') != -1){
        alert('Você não tem permissão!');
    }
    </script>

</body>
</html>