<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body onload="horas()">
    <div class="form">
        <span class="hora" id="hora">hora</span>
        <form action="/autenticar" method="post" class="form">
            <input type="text" name="nome" placeholder="Vendedor" class="inptText inptTextInd" required>
            <input type="password" name="senha" placeholder="Senha" class="inptText inptTextInd" required><br>
            <input type="submit" value="Entrar" class="btn btnIndex" ><br>
            <a href="/cadastro"><input type="button" value="Cadastrar Vendedor" class="btn btnIndex"></a>
        </form>
    </div>
    <script src="/script/script.js"></script>
    <script>
        const hora = document.getElementById("hora");
        function horas(){
            const horario = new Date();
            let h = horario.getHours();
            let m = horario.getMinutes();
            let s = horario.getSeconds();
            if(m < 10){
                hora.innerText = `HORÁRIO: ${h}:0${m}:${s}`;
            }else if(s < 10){
                hora.innerText = `HORÁRIO: ${h}:${m}:0${s}`;
            }
            else{
                hora.innerText = `HORÁRIO: ${h}:${m}:${s}`;
            }
            setTimeout('horas()',1000);
        }
        
        if(location.href.indexOf('sucesso') != -1){
            alert('Vendedor cadastrado com sucesso!');
        }
        if(location.href.indexOf('userFail') != -1){
            alert('User');
        }
        if(location.href.indexOf('senhaFail') != -1){
            alert('Senha');
        }
        if(location.href.indexOf('token=expirou')!= -1){
            alert('Token expirou!');
        }
        if(location.href.indexOf('vazio') != -1){
            alert('Informe o usuario');
        }
    </script>
</body>
</html>