<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="form">
        <form action="/autenticar" method="post">
            <span><input type="text" name="nome" placeholder="Vendedor" class="inptText"></span>
            <span><input type="password" name="senha" placeholder="Senha" class="inptText"></span>
            <span><input type="submit" value="Entrar" class="btn"></span>
            <span><a href="/cadastro" id="cv">Cadastrar vendedor</a></span>
        </form>
    </div>
    <script src="/script/script.js"></script>
    <script>
        if(location.href.indexOf('sucesso') != -1){
            alert('Vendedor cadastrado com sucesso!');
        }
        if(location.href.indexOf('userFail') != -1){
            alert('User');
        }
        if(location.href.indexOf('senhaFail') != -1){
            alert('Senha');
        }
        if(location.href.indexOf('token=expirou')!= -1){
            alert('Token expirou!');
        }
    </script>
</body>
</html>