<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>NOME DA EMPRESA</h1>
    </div>
    <div class="caixa">
        <form action="<%= action %>" method="post">
            <input type="button" value="Caixa">
            <input type="button" value="Produtos">
            <input type="submit" value="Sair">
        </form>
    </div>
    <div> <%= doc.nome %> </div>
</body>
</html>